:root
  --primary: #5A71F9
  --light-primary: #EBEEFE
  --background: #F1F3FF
  --light: #FFF
  --light-gray: #F1F1F1 
  --gray: rgba(0, 0, 0, 0.7)

.dark-mode:root
  --primary: #5A71F9
  --light-primary: #5D71A2
  --background: #293145
  --light: #54658F
  --light-gray: #5D71A2
  --gray: #FFF