:root
  --primary: #5A71F9
  --invert-primary: #5A71F9
  --light-primary: #5A71F9
  --bg-light-primary: #d7ddffa0
  --background: #F1F3FF
  --permanent-light: #FFF
  --light: #FFF
  --light-gray: #F1F1F1 
  --gray: rgba(0, 0, 0, 0.7)
  --black: #000
  --red: #EC3652

.dark-mode:root
  --invert-primary: #ffffff
  --primary: #5A71F9
  --bg-light-primary: #a7b2ec8d
  --light-primary: #a3afff
  --background: #293145
  --permanent-light: #FFF
  --light: #54658F
  --light-gray: #5D71A2
  --gray: #eae4e4
  --black: #eae4e4
  --red: #ffffff