@use 'utilities' as u
@use 'variables' as v

@include u.reset

body
  height: 100vh
  background-color: var(--background)

  @include u.responsive
    height: 100%
    overflow-x: hidden

.main
  display: flex
  justify-content: center
  height: 100%
  align-items: center

  @include u.responsive
    padding: 150px 0 50px 0
    height: 100%

  .openbox.sidenav
    @extend %sidenav-format
    padding: 50px 25px
    width: 350px
    align-items: flex-start

  .openboxmbl.sidenav
    @extend %sidenav-format
    height: 500px
    width: 100vw
    align-items: flex-end
    padding: 27px 25px
    


  .sidenav
    @extend %sidenav-format
    padding: 50px 0 0 0
    transition: .2s

    @include u.responsive
      width: 100vw
      height: 100px
      flex-direction: row-reverse
      justify-content: flex-start
      align-items: center
      padding: 0 30px
      top: 0

    .menu-icon
      text-align: center
      font-size: 36px
      color: var(--gray)
      position: fixed
      left: 35px

      @include u.responsive
        right: 35px
        text-align: right
    

  

    .icon-box
      display: flex
      flex-direction: column
      align-items: center
      margin: 70px 0 0 0

      @include u.responsive 
        align-items: flex-start
        width: 90%
        margin: 50px 50px 0 0 

      .icon-single
        margin: 15px 0
        width: 100%
        display: flex
        align-items: center
        transition: .3s

        @include u.responsive
          margin: 0 15px
          display: none

        &:hover
          cursor: pointer
          background-color: var(--bg-light-primary)
          border-radius: 15px

          .sidenav-icon
            background-color: var(--primary)

            i
              color: var(--permanent-light)
          
          p
            color: var(--invert-primary)
            text-decoration: underline
          
            
      


        p
          display: none
          margin-left: 15px
          margin-right: 10px

          @include u.responsive
            font-size: 1.250rem

        .sidenav-icon
          display: inline-block
          width: 37px
          text-align: center
          color: var(--gray)
          background-color: var(--light-gray)
          border-radius: 8px
          padding: 5px 6px
          transition: .3s
          font-size: 24px
          
          i
            transition: .3s
            

          &:hover
            background-color: var(--primary) 
            
            i
              color: var(--permanent-light)

.linkintext
  text-decoration: none
  color: var(--black)
  &:hover
    color: var(--primary)


//Section 

.index.section-box
  max-width: 1350px

.section-box
  width: 90%
  max-width: 980px
  margin-left: 100px
  padding: 25px 40px
  border-radius: 15px
  background-color: var(--light)
  box-shadow: rgba(100, 100, 111, 0.324) 0px 7px 29px 0px

  @include u.responsive
    width: 95%
    padding: 25px
    margin: 0

  h1
    font-size: 2rem
    margin-bottom: 36px
    font-family: 'Playfair Display', sans-serif
    color: var(--light-primary)

  .flex-box
    display: flex
    justify-content: space-between
    
    @include u.responsive
      flex-direction: column
      align-items: center

    &-image
      width: 30%

      @include u.responsive
        display: none
        

      img
        border-radius: 10px
        cursor: pointer
        filter: grayscale(90%)
        transition: .5s
        object-fit: cover

        @include u.responsive
          width: 90%

        &:hover
          filter: grayscale(0)
          box-shadow: rgba(17, 12, 46, 0.258) 0px 48px 100px 0px
          

    &-text
      text-align: justify
      width: 60%

      @include u.responsive
        width: 100%

      .text-title
        font-size: 1.70rem
        font-weight: 500
        text-align: left
        margin-bottom: 25px
        color: var(--black)

        b
          color: var(--light-primary)
          font-weight: 800

      .text-content
        margin-bottom: 16px
        font-size: 1.125rem
        color: var(--black)

        &:last-of-type
          margin-top: 35px
        
        .portfolio-link
          transition: .3s
          color: var(--black)
          font-size: 0.95rem 

          &:hover
            color: var(--invert-primary)
          
      



  @include u.responsive
    margin: 0


.about.social-btns
  margin: 25px auto
  display: flex

  .social-single
    margin: 0 5px


.menu.social-btns
  position: absolute
  bottom: 50px

  @include u.responsive
    margin-top: 110px
  
  .social-single
    font-size: 19px
    margin: 0 8px

    @include u.responsive
      padding: 10px 15px
      margin: 0 8px

    @include u.responsive-sm
      font-size: 17px
      margin: 0 10px
      padding: 10px 12px

.social-btns
  display: none
  margin: 25px auto
  flex-wrap: wrap


  .social-single
    font-size: 24px
    background-color: var(--light-gray)
    padding: 10px 14px
    border-radius: 50%
    margin: 0 8px
    color: var(--gray)
    transition: .3s

    &:first-of-type
      margin: 0 8px 0 0
    
    @include u.responsive
      font-size: 19px

  #ss-wpp
    &:hover
      background-color: #25D366
      color: white

  #ss-wpp
    &:hover
      background-color: #25D366
      color: white

  #ss-ins
    &:hover
      background-color: #E1306C
      color: white

  #ss-lin
    &:hover
      background-color: #0077b5
      color: white

  #ss-git
    &:hover
      background-color: #333
      color: white

  #ss-email
    &:hover
      background-color: #c71610
      color: white


//Darkmode

.darkmode-box
  display: none
  align-items: center
  position: absolute
  bottom: 180px
  margin: 0 20%

  @include u.responsive
    margin: 0 
    bottom: 200px
    left: 7%

  @include u.responsive-sm
    left: 5%

  .darkmode-stats
    margin: 0 15px
    font-size: 22px
    color: var(--invert-primary)

    @include u.responsive
      margin: 0 25px
      font-size: 28px

    @include u.responsive-sm
      left: 22px

  #switch-theme
    width: 0
    height: 0
    opacity: 0

    &:checked + .slide:before
      transform: translateX(30px)

      @include u.responsive
        transform: translateX(40px)

    
  
  label
    display: block
    height: 15px
    width: 45px
    position: relative
    cursor: pointer

    @include u.responsive
      height: 25px
      width: 60px

    .slide
      position: absolute
      width: 100%
      height: 100%
      background-color: var(--light-gray)
      border-radius: 10px 

      &:before
        position: absolute
        content: ''
        height: 20px
        width: 20px
        background-color: white
        box-shadow: rgba(0, 0, 0, 0.35) 0px 10px 20px
        border-radius: 50%
        top: -2px
        left: -2px
        transition: .3s

        @include u.responsive
          width: 25px
          height: 25px


// Database

.index.section-box
  @include u.responsive
    max-width: 550px
    padding: 15px

  .database-btn
    border: 0
    padding: 10px 25px
    border-radius: 5px
    color: var(--gray)
    cursor: pointer
    background-color: var(--light-gray)
    transition: .3s

  .create.database-btn
    margin-bottom: 16px
    font-size: 1.125rem
    background-color: var(--primary)
    color: var(--permanent-light)

    b
      display: none

      @include u.responsive
        display: block
        font-size: 28px
        color: var(--permanent-light)
    
    p
      @include u.responsive
        display: none

    @include u.responsive
     position: fixed
     bottom: 50px
     left: 30px
     z-index: 9
     border-radius: 50%
     padding: 35px 40px
      
    
    
    

    &:hover
      background-color: #8193fb


  .edit.database-btn
    margin: 0 5px 0 0
    font-weight: bold

    @include u.responsive
      margin: 0 10px 0 0 
      font-size: 1rem
      background-color: var(--yellow)
      color: rgba(0, 0, 0, 0.7)

    &:hover
      background-color: #ffe83d

  .delete.database-btn
    margin: 0 5px 0 0
    font-weight: bold

    @include u.responsive
      margin: 0 10px 0 0 
      font-size: 1rem
      background-color: #fe5050
      color: rgba(0, 0, 0, 0.7)

    &:hover
      background-color: #f96e6e


  .database
    width: 100%
    user-select: none
    text-align: left
    border-collapse: collapse

    @include u.responsive
      display: block
      width: 100%

    thead
      @include u.responsive
        display: none

    tbody
      @include u.responsive
        display: block
        width: 100%


    th
      height: 50px
      background-color: var(--primary)
      padding-left: 20px
      font-weight: 500
      color: var(--permanent-light)
      margin: 0 5px
      border: 3px solid var(--light)

      &:first-child
        padding-left: 5px

      &:last-child
        padding: 0
        min-width: 140px
        text-align: center

    tr
      transition: .3s
      border-bottom: 1px solid #76767644
      
      @include u.responsive
        border: 1px solid var(--light-gray)
        padding: 10px
        margin-bottom: 15px
        display: block
        width: 100%

    td
      height: 50px
      padding-left: 20px
      color: var(--gray)
      font-size: 0.95rem

      @include u.responsive
        margin: 5px 0
        text-align: right
        padding-left: 25%
        position: relative
        display: block
        width: 100%
        display: flex
        align-items: center
        justify-content: flex-end

        &:before
          content: attr(data-label)
          position: absolute
          left: 0
          width: 50%
          padding-left: 0
          font-weight: bold
          text-align: left

        

      &:last-child
        padding: 0
        min-width: 200px
        text-align: center

        @include u.responsive
          text-align: right

//Modal

.active.modal
  display: block

.modal
  width: 75%
  max-width: 1000px
  text-align: center
  position: absolute
  z-index: 10
  background: var(--light-modal)
  padding: 25px 30px
  border-radius: 15px
  box-shadow: rgba(100, 100, 111, 0.488) 0px 7px 29px 0px
  display: none

  @include u.responsive
    width: 95%

  .fa-xmark
    position: absolute
    top: 10px
    right: 25px
    font-size: 1.5rem
    color: var(--black)
    transition: .5s
    cursor: pointer

    @include u.responsive
      font-size: 2rem
      top: 20px

    &:hover
      color: #fc5b5b

  h1
    font-size: 1.8rem
    font-family: 'Playfair Display', sans-serif
    color: var(--black)

    @include u.responsive
      font-size: 1.5rem
      margin-top: 50px

    b
      font-family: 'Playfair Display', sans-serif
      color: var(--light-primary)
  
  .modal-form
    width: 60%
    text-align: left
    display: flex
    align-items: center
    justify-content: center
    flex-wrap: wrap
    margin: 35px auto 50px auto

    @include u.responsive
      width: 100%


    .input-box
      display: inline-block
      position: relative
      width: 100%
      margin: 10px

      input
        width: 100%
        padding: 10px
        border: 1px solid var(--light-black)
        background: var(--light-modal)    
        border-radius: 5px
        outline: none
        color: var(--black)
        font-size: 1rem
        transition: .5s

        &:valid ~ span, &:focus ~ span
          color: var(--light-primary)
          transform: translateX(10px) translateY(-7px)
          font-size: 0.75rem
          padding: 0 5px
          background: var(--light-modal)
          border-left: 1px solid var(--light-primary)
          border-right: 1px solid var(--light-primary)
          letter-spacing: 0.1rem
        
        &:valid, &:focus
          border: 1px solid var(--light-primary)
      
      span
        position: absolute
        left: 0
        padding: 10px
        pointer-events: none
        font-size: 1rem
        color: var(--light-black)
        text-transform: uppercase
        transition: .3s

    .formbtn
      border: 0
      padding: 10px 15px
      border-radius: 5px
      color: var(--permanent-light)
      cursor: pointer
      background-color: var(--primary)
      transition: .3s
      margin: 30px 20px 0
      font-weight: regular
      font-size: 1.125rem

      @include u.responsive
        margin: 30px 10px 0

      i
        margin-right: 8px

    .submit-btn.formbtn
      &:hover
        background-color: #475bcf

    .cancel-btn.formbtn
      background: var(--permanent-light)
      border: 1px solid var(--primary)
      color: var(--primary)

      &:hover
        border: 1px solid #3b4db4
        color: #3b4db4
        

// Change Language

.changelanguage-box
  width: 130px
  background-color: var(--light-primary)
  padding: 10px 15px
  border-radius: 20px
  color: var(--permanent-light)

  label

    display: flex
    justify-content: space-between
    position: relative
    cursor: pointer

    .changelanguage-box-eng, .changelanguage-box-ptbr
      z-index: 3

    .changelanguage-box-ptbr
      color: var(--light-primary)

    .slide-lgg
      position: absolute
      z-index: 2
      top:-5px
      left: -6px
      width: 100%
      height: 100%

      &:before
        position: absolute
        content: ''
        height: 150%
        width: 65%
        background-color: var(--permanent-light)
        border-radius: 20px
        top: 0px
        left: -2px
        transition: .3s
        z-index: 2
      


    #switch-language
      widows: 0
      height: 0
      opacity: 0

      &:checked + .slide-lgg:before
        transform: translateX(66px)
        width: 50%

        

      &:checked + label
        color: var(--permanent-light)
          
          
      
      

    




  





          
          

    